body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: #333;
}

.container #symptomChecker {
    display: flex;
    align-items: center;
    color: white;
}

.container .logo {
    width: 45px;
    height: auto;
    margin-right: 10px;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 310px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

.form-container label, .form-container select, .form-container input {
    display: block;
    margin: 10px 0;
}

.form-container select, .form-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #3cd672;
}
button#imageButton {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#imageButton:hover {
    background-color: #555;
}