</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom check Page</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    <div class="container">
        <div id="symptomChecker">
            <img src="static/img/3.jpg" alt="Logo" class="logo"> SymptoChecker
        </div>
    </div>
    <header>
        <nav>
            <ul>
                <li><a href="try.html">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
        </nav>
    </header>

    <div class="symptom-form">
        <h2>Select Respiratory Symptoms:</h2>
        <form action="" method="post">
            <label>
    <input type="checkbox" name="symptoms[]" value="Weight Loss"> Weight Loss
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Obesity"> Obesity
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Cheating (Extra Marital Contacts)"> Cheating (Extra Marital Contacts)
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Swollen Legs"> Swollen Legs
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Swollen Blood Vessels"> Swollen Blood Vessels
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Puffy Face and Eyes"> Puffy Face and Eyes
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Enlarged Thyroid"> Enlarged Thyroid
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Swollen Extremities"> Swollen Extremities
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Toxic Look (Typhos)"> Toxic Look (Typhos)
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Belly Pain"> Belly Pain
</label>

            
            <button type="submit">Submit</button>
        </form>
        
    </div>
</body>

</html>