<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SymptoChecker</title>
    <link rel="stylesheet" href="static/try.css">
    <script src="static/script.js"></script>
</head>
<body>
    <div class="container">
        <div id="symptomChecker">
            <img src="static/img/3.jpg" alt="Logo" class="logo" style="margin-right: 0; margin-top: 20px;">
            SymptoChecker
        </div>
    </div>
    
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
        </nav>
    </header>
    <p>Symptom checker made for <span id="targetWord">parents</span></p> 
    <img src="static/img/img2.jpg" style="width:100%;">
    <img src="static/img/img1.jpg" style="width:100%;">
    <footer>
        <p>&copy; 2023. All rights reserved.</p>
    </footer>
</body>
</html>