<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom check Page</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    <div class="container">
        <div id="symptomChecker">
            <img src="static/img/3.jpg" alt="Logo" class="logo"> SymptoChecker
        </div>
    </div>
    <header>
        <nav>
            <ul>
                <li><a href="try.html">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
        </nav>
    </header>

    <div class="symptom-form">
        <h2>Select Respiratory Symptoms:</h2>
        <form action="" method="post">
            <label>
    <input type="checkbox" name="symptoms[]" value="Dark Urine"> Dark Urine
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Yellow Urine"> Yellow Urine
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Blood in urine (Spotting Urination)"> Blood in urine (Spotting Urination)
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Acute Liver Failure"> Acute Liver Failure
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Yellowish Skin"> Yellowish Skin
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Excessive urination (Polyuria)"> Excessive urination (Polyuria)
</label>
<label>
    <input type="checkbox" name="symptoms[]" value="Abnormal Menstruation"> Abnormal Menstruation
</label>    
            <button type="submit">Submit</button>
        </form>
        
    </div>
</body>
</html>